body {
  font-family: Arial, sans-serif;
  background-color: #dfebff;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #343a40;
}

.table {
  border: 1px solid #eefaf1;
  background-color: #f7fbf8;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.btn {
  border-radius: 5px;
  font-weight: bold;
}

.btn-primary {
  background-color: #469c4f;
  border: none;
}

.btn-primary:hover {
  background-color: #7cc67c;
}

.form-control {
  border-radius: 5px;
}
